.recipe-wine-container {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.recipe-wine-title {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.recipe-wine-info {
  width: 370px;
  height: 140px;
  display: inline-block;
}

.recipe-wine-bottle {
  width: 40px;
  height: 115px;
  float: left;
}

.wine-bottle-img {
  width: 100%;
}

.recipe-wine-title {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.recipe-wine-text {
  float: left;
  width: 70%;
  padding-left: 20px;
  white-space: normal;
}

.mb-5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.recipe-wine-bottle {
  width: 40px;
  height: 115px;
  float: left;
}

.wine-bottle-img {
  width: 100%;
}

.wine-text-title {
  color: #0F346C;
}

.wine-text-subtitle {
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.wine-text-description {
  font-size: 14px;
  font-weight: 300;
  font-family: "HelveticaNeue";
  color: #404040;
}

